:root {
  /* Primary Colors */
  --color-primary-red: #D9212C;
  --color-primary-black: #0B0B0D;
  --color-primary-white: #DFDFDF;

  /* Secondary Colors */
  --color-secondary-bg: #141417;
  --color-secondary-text: #B3B3B3;

  /* Font Families */
  --font-inter: 'Inter', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}