.navbar {
  width: 100vw;
  margin-left: calc(-1 * 24px);
  margin-right: calc(-1 * 24px);
}

@media (max-width: 768px) {
  .navbar {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.error {
    color: var(--text-accent);
    text-align: center;
    padding: 1rem;
    margin: 1rem 0;
    background-color: rgba(217, 33, 44, 0.1);
    border-radius: 6px;
}